* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
  
:root {
    --primary-color: indigo;
    --secondary-color: violet;
    --tertiary-color: thistle;
}

body {
    display: flex;
    flex-direction: column;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin-left: 150px;
}

.questions-title-section {
    font-size: 45px;
    margin: 50px;
    margin-left: 0;
}

.hide {
    display: none;
}

#btn-high-scores {
    color:var(--secondary-color); 
    margin: 30px;
    font-size: 20px;
    border: none;
    background-color: white;
    text-decoration: none;
}

#view-high-scores {
    display: flex;
    justify-content: space-between;
}

#btn-high-scores:hover {
    color: rgba(247, 131, 212, 0.502);
}

p {
    font-size: 20px;
}

#timer {
    margin: 30px;
} 

#home-text-section {
    margin: 30px;
}

#btn-start-quiz {
    margin: 30px;
    color: white;
    font-size: 18px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
}

#btn-start-quiz:hover {
    background-color: var(--secondary-color);
}

.text {
    font-size: 18px;
}


#title-section {
    text-align: center;
}

.home-text {
    text-align: center;
}

