* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
  
:root {
    --primary-color: indigo;
    --secondary-color: violet;
    --tertiary-color: thistle;
}

body {
    display: flex;
    flex-direction: column;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin-left: 150px;
}

.questions-title-section {
    font-size: 45px;
    margin: 50px;
    margin-left: 0;
}

.hide {
    display: none;
}